// colors
$default-colors: (
  main: #53b360,
);
$custom-colors: () !default;
$colors: map-merge($default-colors, $custom-colors);

// grays
$default-grays: (
  1: #1a202c,
  2: #2d3748,
  3: #4a5568,
  4: #718096,
  5: #a0aec0,
  6: #cbd5e0,
  7: #e2e8f0,
  8: #edf2f7,
  9: #f7fafc,
);
$custom-grays: () !default;
$grays: map-merge($default-grays, $custom-grays);

@mixin set-color($name, $color) {
  .c-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background: $color;
  }
  .border-#{$name} {
    border-color: $color;
  }
}

@each $name, $color in $colors {
  @include set-color($name, $color);
}

@each $name, $gray in $grays {
  @include set-color(gray-#{$name}, $gray);
}
