// spaces
$default-spaces: (
  px: 1px,
  1: 4rpx,
  2: 8rpx,
  3: 12rpx,
  4: 16rpx,
  5: 20rpx,
  6: 24rpx,
  8: 32rpx,
  10: 40rpx,
  12: 48rpx,
  16: 64rpx,
  20: 80rpx,
  24: 96rpx,
  32: 128rpx,
  40: 160rpx,
  48: 192rpx,
  56: 224rpx,
  64: 256rpx,
);
$custom-spaces: () !default;
$spaces: map-merge($default-spaces, $custom-spaces);

@each $name, $space in $spaces {
  .m-#{$name} {
    margin: $space;
  }
  .mx-#{$name} {
    margin-left: $space;
    margin-right: $space;
  }
  .my-#{$name} {
    margin-top: $space;
    margin-bottom: $space;
  }
  .ml-#{$name} {
    margin-left: $space;
  }
  .mr-#{$name} {
    margin-right: $space;
  }
  .mt-#{$name} {
    margin-top: $space;
  }
  .mb-#{$name} {
    margin-bottom: $space;
  }
  .p-#{$name} {
    padding: $space;
  }
  .px-#{$name} {
    padding-left: $space;
    padding-right: $space;
  }
  .py-#{$name} {
    padding-top: $space;
    padding-bottom: $space;
  }
  .pl-#{$name} {
    padding-left: $space;
  }
  .pr-#{$name} {
    padding-right: $space;
  }
  .pt-#{$name} {
    padding-top: $space;
  }
  .pb-#{$name} {
    padding-bottom: $space;
  }
  .w-#{$name} {
    width: $space;
  }
  .h-#{$name} {
    height: $space;
  }
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// container
.container {
  width: 100%;
}

// box sizing
.box-border {
  box-sizing: border-box;
}
.box-content {
  box-sizing: content-box;
}

// display
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}

// overflow
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}

// position
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

// visibility
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

// z-index
$default-z-indexs: (
  0: 0,
  10: 10,
  20: 20,
  30: 30,
  40: 40,
  50: 50,
  auto: auto,
);
$custom-z-indexs: () !default;
$z-indexs: map-merge($default-z-indexs, $custom-z-indexs);

@each $name, $z-index in $z-indexs {
  .z-#{$name} {
    z-index: $z-index;
  }
}

// border radius
$default-roundeds: (
  0: 0,
  sm: 2rpx,
  base: 5rpx,
  lg: 10rpx,
  full: 9999rpx,
);
$custom-roundeds: () !default;
$roundeds: map-merge($default-roundeds, $custom-roundeds);

@each $name, $rounded in $roundeds {
  .rounded-#{$name} {
    border-radius: $rounded;
  }
}

// border width
$default-border-widths: (
  0: 0,
  2: 2rpx,
  4: 4rpx,
  8: 8rpx,
);
$custom-border-widths: () !default;
$border-widths: map-merge($default-border-widths, $custom-border-widths);

@each $name, $border-width in $border-widths {
  .border-#{$name} {
    border-width: $border-width;
  }
}

// border style
.border-solid {
  border-style: solid;
}
.border-dashed {
  border-style: dashed;
}
.border-dotted {
  border-style: dotted;
}
.border-double {
  border-style: double;
}
.border-none {
  border-style: none;
}
