// font size
$default-font-sizes: (
  3xs: 18rpx,
  2xs: 20rpx,
  xs: 22rpx,
  sm: 24rpx,
  base: 26rpx,
  lg: 28rpx,
  xl: 30rpx,
  2xl: 32rpx,
  3xl: 34rpx,
);
$custom-font-sizes: () !default;
$font-sizes: map-merge($default-font-sizes, $custom-font-sizes);

@each $name, $font-size in $font-sizes {
  .text-#{'' + $name} {
    font-size: $font-size;
  }
}

// font style
.italic {
  font-style: italic;
}
.not-italic {
  font-style: normal;
}

// font-weight
.font-hairline {
  font-weight: 100;
}
.font-thin {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

// letter spacing
.tracking-tighter {
  letter-spacing: -2rpx;
}
.tracking-tight {
  letter-spacing: -1rpx;
}
.tracking-normal {
  letter-spacing: 0;
}
.tracking-wide {
  letter-spacing: 1rpx;
}
.tracking-wider {
  letter-spacing: 2rpx;
}
.tracking-widest {
  letter-spacing: 4rpx;
}

// line height
.leading-none {
  line-height: 1;
}
.leading-tight {
  line-height: 1.25;
}
.leading-snug {
  line-height: 1.375;
}
.leading-normal {
  line-height: 1.5;
}
.leading-relaxed {
  line-height: 1.625;
}
.leading-loose {
  line-height: 2;
}

// list style
.list-none {
  list-style-type: none;
}
.list-disc {
  list-style-type: disc;
}
.list-decimal {
  list-style-type: decimal;
}

// list position
.list-inside {
  list-style-position: inside;
}
.list-outside {
  list-style-position: outside;
}

// text-align
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

// text decoration
.underline {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}
.no-underline {
  text-decoration: none;
}

// whitespace
.whitespace-normal {
  white-space: normal;
}
.whitespace-no-wrap {
  white-space: nowrap;
}

// word break
.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}
.break-words {
  overflow-wrap: break-word;
}
.break-all {
  word-break: break-all;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
